<body>

    <section style="padding-left: 20%;">
        <!-- <ngx-prod-ligne2></ngx-prod-ligne2> -->
        
          <ng-template #sect1>
          </ng-template>
    </section>
    <section style="padding-left: 20%;">
        <ng-template #sect2>
        </ng-template>
    </section>
    <section style="padding-left: 20%;">
        <ng-template #sect3>
        </ng-template>
    </section>
    


    <main style="padding-left: 20%;">


        <ng-template #mainContent>
        </ng-template>





    </main>

</body>