<body>

    <section style="padding-left: 20%;">
        <ngx-prod-ligne2></ngx-prod-ligne2>
    </section>
    <section style="padding-left: 20%;">
        <ngx-prod-ligne3></ngx-prod-ligne3>
    </section>
    <section style="padding-left: 20%;">
        <ngx-temperature></ngx-temperature>
    </section>
    <section >
        <ngx-chartjs-pie></ngx-chartjs-pie>
    </section>
    <section >
        <ngx-chartjs-bar></ngx-chartjs-bar>
    </section>


    <main style="padding-left: 20%;">


        <ngx-prod-ligne1></ngx-prod-ligne1>





    </main>

</body>
