<nb-card>
    <nb-card-header>Components</nb-card-header>
    <nb-card-body class="checkbox-radio">
     <div class="demo-items" >
        <nb-checkbox 
        *ngFor="let d of data" 
        (checkedChange)="toggle($event,d)"
        [checked]="d.selected"
      [disabled]="d.disabled"> 
        {{d.title}} 
      </nb-checkbox>
       
      </div>  
      <nb-card-footer>

        <button  nbButton status="primary" (click)= "submit(d)">Valider</button>
    </nb-card-footer>
    </nb-card-body>
</nb-card>