<nb-card>
    <nb-card-header>Components</nb-card-header>
    <nb-card-body class="checkbox-radio">
     <div class="demo-items" >
        <nb-checkbox>prod1</nb-checkbox>
        <nb-checkbox >prod2</nb-checkbox>
        <nb-checkbox >prod3</nb-checkbox>
        <nb-checkbox >temperature</nb-checkbox>
        <nb-checkbox >poduction par semaine</nb-checkbox>
        <nb-checkbox >comparaison production</nb-checkbox>
      </div>  
      <nb-card-footer>

        <button  nbButton status="primary" (click)= "submit(d)">Valider</button>
    </nb-card-footer>
    </nb-card-body>
</nb-card>