@import '../../@theme/styles/styles.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}
//

.message-container {
  background:#3FA0E1;
  padding:.5em;
  font-weight:bold;
  cursor:pointer;
}


body {
    height: 100vh;
     max-height: auto ;
     width: 100%;
      margin:0;
      position: absolute;
      display: grid;
      grid-template-columns: 40% 40% 20%;
      grid-template-rows: 40% 40% 20%;
      grid-template-areas:
          "main sect1 sidebar"
          "sect2 sect3 sidebar"
          "footer footer footer";
     
  }

  aside {
    grid-area: sidebar;
    background-color: #57B3F1;

    align-self: stretch;
}
section:nth-of-type(1) {
    grid-area: sect1;
    background-color: #B3D8FD;
}
section:nth-of-type(2) {
    grid-area: sect2;
    background-color: #5E86AF;
}
section:nth-of-type(3) {
    grid-area: sect3;
    background-color: #6D9FD2;
}

main {
    grid-area: main;
    background-color: rgb(76, 161, 247);
    align-self: stretch;
}

footer {
    grid-area: footer;
    background-color: rgb(88, 207, 236);
    align-self: stretch;
    padding: 1em;
}

