<body>
    <aside>
        <div style="text-align: center;">
            <h3> Ligne1 </h3>
        </div>

        <p class="message-container" *ngFor="let notification of Ligne1">
            {{notification.value}}
        </p>



    </aside>

   
    <section style="padding-left: 20%;">
        <!-- <ngx-prod-ligne2></ngx-prod-ligne2> -->
        
          <ng-template #sect1>
          </ng-template>
    </section>
    <section style="padding-left: 20%;">
        <ng-template #sect2>
        </ng-template>
    </section>
    <section style="padding-left: 20%;">
        <ng-template #sect3>
        </ng-template>
    </section>
    


    <main style="padding-left: 20%;">


        <ng-template #mainContent>
        </ng-template>





    </main>


    <footer>


        <mdb-carousel [interval]="2000" [isControls]="false">
            <mdb-slide *ngFor="let message of messages">
                <div style="text-align: center; padding: 2em;margin-left: 30%;margin-right: 30%;">
                    <h3 class="animated  {{value}} "> <strong> {{message}} </strong></h3>
                </div>
            </mdb-slide>
        </mdb-carousel>


    </footer>
</body>