<body>
    <aside> </aside>
   
  
  
    <main style="margin: 0px; padding: 10px; ">
  
     
        
      
  
    </main>
  
  
    <footer>
  
      <!-- <app-carousel> </app-carousel> -->
     
     
      <mdb-carousel  [interval]="2000">
             <mdb-slide *ngFor="let message of messages" >
          <div style="text-align: center; padding: 2em;"  >
            <h3 class="animated  {{value}} "> <strong> {{message}} </strong></h3> 
        </div>  
        </mdb-slide>
      </mdb-carousel>
    </footer>
  </body>
  