<div class="row">
  
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Production Ligne 1</nb-card-header>
      <nb-card-body>
        <ngx-prod-ligne1></ngx-prod-ligne1>
      </nb-card-body>
    </nb-card>
  </div>






  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Production Ligne 2</nb-card-header>
      <nb-card-body>
        <ngx-prod-ligne2></ngx-prod-ligne2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Production Ligne 3</nb-card-header>
      <nb-card-body>
        <ngx-prod-ligne3></ngx-prod-ligne3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Température</nb-card-header>
      <nb-card-body>
        <ngx-temperature></ngx-temperature>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Production par semaine Pie chart</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Production Bar chart </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div>